*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #666666;
}
.logoAmericanas {
    height: 50px;
    margin-left: 150px;
    top: 20px;
    position: absolute;
   
}
.logo {
    background-color:#d0050b;
    position: relative;
    height: 100px;
}
.login_user {
    position: relative;
   padding-left: 45px;
}
.img_user {
    position: absolute;
    left: 10px;
}
.conteudo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divs_login {
    display: flex;
    justify-content: space-between;
}
