*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoAmericanas {
    height: 120px;
    margin-left: 200px;
}
.logo {
    background-color:#e30412;

}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}